* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    align-items: center;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Fraunces', serif;
  }
  
  p, a {
    font-family: 'Work Sans', sans-serif;
  }

  a {
    font-weight: 500;

  }

  p {
    line-height: 1.5;  
    font-weight: 400;
    }
  
  h1 {
    font-size: 60px;
    font-weight: 400;
  }
  
  h2 {
    font-size: 40px;
    font-weight: 400;
  }

  h3 {
    font-weight: 500;
    font-size: 24px;
  }

  h4 {
    font-weight: 500;
    font-size: 18px;
  }

  @media (max-width: 1099px) {

    }

    @media (max-width: 640px) {
        h1 {
            font-size: 40px;
          }
          h2 {
            font-size: 28px;
          }
        }

  .logoImage {
    height: 35px;
  }

  @media (max-width: 1099px) {
    .logoImage {
      height: 30px;
    }
  }
  
  @media (max-width: 640px) {
    .logoImage {
      height: 25px;
    }
  }
  
  .hero {
    height: 500px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 50px;
  }
  
  @media (max-width: 1099px) {
    .hero {
      height: 400px;
    }
  }
  
  @media (max-width: 640px) {
    .hero {
      height: 225px;
    }
  }
  
  .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 1400px;
    margin: 0 auto;
    padding: 35px 100px;
  }
  
  @media (max-width: 1099px) {
    .navContainer {
        padding: 35px 50px;
    }
  }
  
  @media (max-width: 640px) {
    .navContainer {
        padding: 15px 25px;
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 25px;
    background: transparent;
    position: static;
  }
  
  .hamburger,
  .closeBtn {
    display: none;
  }

  nav a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
}

nav a:hover {
    text-decoration: underline;
}

  
  @media (max-width: 640px) {
    nav {
      display: none; 
      position: absolute;
      top: 0;
      left: 0;
      flex-direction: column;
      background: #262626;
      width: 100%;
      height: 100%;
      padding: 10px 25px;
      z-index: 1000;
    }

    nav a {
        color: #ffffff;
        font-size: 24px;
    }

    nav a:first-of-type {
        margin-top: 50px;
      }
      
  
    nav.show {
      display: flex;
    }
  
    .hamburger {
      display: block;
      font-size: 35px;
      cursor: pointer;
    }
  
    .closeBtn {
      display: block;
      position: absolute;
      top: 15px;
      right: 30px;
      font-size: 40px;
      color: white;
      cursor: pointer;
    }
  }
  
  .homeContainer {
    width: 100%;
    max-width: 1400px;
    display: flex;
    gap: 50px;
    padding: 0 100px;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  @media (max-width: 1099px) {
    .homeContainer {
      gap: 25px;
      padding: 0 50px;
    }
  }
  
  @media (max-width: 640px) {
    .homeContainer {
      flex-direction: column;
      gap: 15px;
      padding: 0 25px;
    }
  }
  
  .homeContainer2 {
    width: 100%;
    gap: 25px;
    text-decoration: none;
    color: #000;
  }
  
  .homeContainer2:hover {
    text-decoration: underline;

    .homeImage {
        transform: scale(1.1);
        filter: brightness(70%);
        transition: transform 0.3s ease-in-out;
      }
  }
  
  .homeImageContainer {
    width: 100%;
    overflow: hidden;
    aspect-ratio: 1;
    margin-bottom: 15px;
  }
  
  .homeImage {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .site-footer {
    margin-top: 100px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f5f5f5;
  }
  
  .footer-line {
    border: none;
    border-top: 0.5px solid #c4c4c4;
    margin-bottom: 50px;
  }

  .nav-line {
    border: none;
    border-top: 0.5px solid #c4c4c4;
  }

  .writing-line {
    color: #d6d6d6;
    margin: 25px 0;
  }
  
  .footer-content {
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  @media (max-width: 1099px) {
    .footer-content {
        padding: 50px 50px;
    }
  }
  
  @media (max-width: 640px) {
    .footer-content {
      flex-direction: column;
      gap: 25px;
    }
  }
  
  .social {
    height: 24px;
    width: 24px;
  }

  .title {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 100px;
    padding-bottom: 50px;

  }

  @media (max-width: 1099px) {
    .title {
        padding: 0 50px;
        padding-bottom: 50px;

      }
    }

    @media (max-width: 640px) {
        .title {
            padding: 0 25px;
            padding-bottom: 25px;
          }
        }
  
  .videoContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 50px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 100px;
  }

  @media (max-width: 1099px) {
  .videoContainer {
    grid-template-columns: repeat(2, 1fr); 
    gap: 25px;
    padding: 50px 50px;
  }
}

@media (max-width: 640px) {
    .videoContainer {
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr); 
        padding: 25px 25px;

    }
  }
  
  .videoCard {
    width: 100%;
    text-decoration: none;
    color: #000;
  }

  .videoCard:hover {
    h4 {
        text-decoration: underline;
    }
    .videoImage {
        filter: brightness(80%);
        transition: transform 0.3s ease-in-out;
    }
  }

  .videoImage {
    width: 100%;
    aspect-ratio: 1.8;
    border-radius: 10px;
    margin-bottom: 5px;
    object-fit: cover;

  }

  .writingContainer {
    max-width: 1400px;
    padding: 50px 100px;
    margin: 0 auto;
    align-items: baseline;
  }

  @media (max-width: 1099px) {
  .writingContainer {
    padding: 50px 50px;
  }
}

@media (max-width: 640px) {
    .writingContainer {
        padding: 25px 25px;
    }
  }

  .writinghomeContainer {
    max-width: 1400px;
    padding: 0 100px;
    padding-bottom: 50px;
    margin: 0 auto;
    align-items: baseline;
  }

  @media (max-width: 1099px) {
  .writinghomeContainer {
    padding: 0 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 640px) {
    .writinghomeContainer {
        padding: 0 25px;
        padding-bottom: 25px;
    }
  }

  .articleCard {
    width: 100%;
    text-decoration: none;
    color: #000;
  }

  .articleCard:hover {
    h3 {
        text-decoration: underline;
      }
  }

  .subhead {
    padding-top: 5px;
    color: #6B6B6B;
  }

  .date {
    font-size: 13px;
    padding-top: 10px;
    color: #6B6B6B;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
  }
  
  .modal-content {
    position: relative;
    margin: auto;
    background-color: transparent;
    width: 90%;
    max-width: 1099px;
    padding-top: 20px;
  }
  
  .close {
    position: absolute;
    top: -40px;
    right: 0;
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    cursor: pointer;
  }

  .videoWrapper {
    position: relative;
    width: 100%;
    padding-top: 56.25%; 
  }
  
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .video-container {
    position: relative;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }

    .hero {
        height: 550px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 50px;
      }
      
      @media (max-width: 1099px) {
        .hero {
          height: 400px;
        }
      }
      
      @media (max-width: 640px) {
        .hero {
          height: 300px;
          margin-bottom: 30px;
        }
      }
.svg-stack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: clamp(100px, calc(50vw - 600px), 600px);
  padding-bottom: 80px;
  z-index: 10;
}

@media (max-width: 1099px) {
.svg-stack {
  padding-left: 50px;
  padding-bottom: 70px;
}
}

@media (max-width: 640px) {
  .svg-stack {
    padding-left: 25px;
    padding-bottom: 20px;
  }
  }

.rotating-svgs {
  position: relative;
  height: 70px;
  width: 100%;
}

.rotating-svgs .rotating {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 90px;
  transition: opacity 2s ease-in-out; 
  height: 70px;

}


@media (max-width: 1099px) {
  .rotating-svgs .rotating {
    height: 50px;
  }
}

@media (max-width: 640px) {
  .rotating-svgs .rotating {
    height: 30px;
  }
}
      
  
  .email {
    text-decoration: none;
    color: #000;
  }

  .email:hover {
    text-decoration: underline;
  }

  .social-icons {
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 100%;
    gap: 25px;
}

.aboutImage {
    aspect-ratio: 1.5;
    object-fit: cover;
    width: 66%;

}

@media (max-width: 1099px) {
    .aboutImage {
        width: 100%;
    }
}

.abouth2 {
    padding-top: 50px;
    padding-bottom: 15px;
    width: 66%;
}

@media (max-width: 1099px) {
.abouth2 {
    padding-top: 30px;
    width: 100%;
}
}

.aboutp {
    padding-top: 15px;
    width: 66%;
}

@media (max-width: 1099px) {
    .aboutp {
        width: 100%;
    }
    }
  
  